language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "nightly"
  - "pypy"
  - "pypy3"
matrix:
  allow_failures:
    - python: "nightly"
install: pip install tox-travis
script: tox
